body {
    background: rgb(250, 193, 2);
    background: radial-gradient(circle, rgba(250, 193, 2, 1) 0%, rgba(255, 181, 0, 1) 44%);
}



.b-calendar .b-calendar-nav .btn {
    color: black;
}

#questionario-fill h2 {
    font-weight: 900;
    color: white;
}

.form-color {
        color: black;
}