<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /tool
RewriteRule ^tool/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /tool/index.html [L]
</IfModule>