body {
    background: rgb(87, 52, 4);
    background: radial-gradient(circle, rgb(255, 149, 0) 0%, rgba(250, 193, 2, 1) 100%);    
}

h6 .light {
    color: silver;
    text-transform: lowercase;
}


.b-calendar .b-calendar-nav .btn {
    color: black;
}
